
.offerdisplay{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    justify-content: space-around;
    margin: 20px auto;
}

.job-offer-detail{
    height: 300px;
    width: 90%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}