.job-offer{
    min-height: 250px;
    min-width: 300px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 
    0 0 10px #b7b7b724,
    0 0 20px #b7b7b724,
    0 0 30px #b7b7b724,
    0 0 40px #b7b7b724;
}

.texto-offer {
    display: flex;
    color: var(--black);
    justify-content: space-between;
    height: 20px;
    width: 210px;
    margin-left: 20px;
    margin-top: 90px;
}

.offerslist{
    height: 500px;
    width: 90%;
    overflow-y: scroll;
}