/*------------------------------------TABLET-------------------------------------*/
@media screen and (max-width: 1024px) {
    
}

/*------------------------------------MOBILE-------------------------------------*/
@media screen and (max-width: 600px){
  .loginContainer {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-family);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
  }

  .loginImages {
    padding-top: 100px;
  }

  .loginForm {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 30px;
  }

  .loginEmail {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .loginContraseña {
    display: flex;
    flex-direction: column;
  }

  .loginErrorA {
    color: greenyellow;
  }

  .loginLine {
    border-bottom: 2px solid var(--white);
    width: 70%;
  }

  .loginNew {
    padding: 20px 0px 40px 0px;
    color: white;
  }

  .loginWhite {
    color: white;
  }

  .loginInputsRest {
    padding: 200px 0px 220px 0px;
  }

  .loginFormRest {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 50px;
  }

  .imgFlecha {
    height: 20px;
  }

  .loginRetroceder {
    display: flex;
    gap: 10px;
  }

}