
.register_container {
  background-color: var(--white);
  /* width: 100%; */
  height: 100vh;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.register-form {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 30px;
}

.register-div {
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  padding: 8px
}
.register-div1{
  display: flex;
  flex-direction: row-reverse;
  width: 85%;
  margin: auto;
  padding-top: 35px;
}
.checkbox{
  margin: 15px;
  
}
.register {
  display: flex;
  flex-direction: column;
}

.register-input {
  
  font-size: 20px;
  font-family: var(--font-family);
  width: 100%;
  height: 50px;
  border-radius: 11px;
  color: var(--blue-letter);
  cursor: pointer;
  border: 1px solid var(--black);
}

/* label{
  color: var(--blue-letter);
} */
.button-black{
  margin-top: 50px;
}
.register-label{
  margin-left: 10px;
  color: var(--dark-blue-letter);
  font-size: 20px;
}
.textBlue{
  color: var(--blue);
}