@media screen and (max-width: 1024px) {
    .div {
      width: 199px;
      height: 200px;
    }
  }
  
  

.fondo-message{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;

}


.mensaje {
    font-size: xx-large;
    margin-left: 23px;
    margin-top: 49px;
    display: flex;
    gap: 82px;
    justify-content: flex-start;
}

.lupa{
    margin-left: 8px;
}

.botones-principales {
    gap: 26px;
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    color: #8c8c8c;
  }
  
  .botonera-message-1 {
    color: #8c8c8c;
    background-color: transparent;
    border: none;
    font-size: medium;
    cursor: pointer;
  }
  
  .botonera-message-1:focus {
    outline: none;
  }
  
  .botonera-message-1:hover {
    color: var(--light-green);
  }
  
  .button-message {
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    height: 70px;
    width: 307px;

  }

  .imagen-mensajes{
    width: 30px;
    height: 30px;
  }
  
  .botonera-message-2 {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 15px;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    gap: 22px;
  }
  
  .botonera-message-2:hover {
    box-shadow: 0 5px 12px rgba(70, 172, 75, 0.123);
    transform: translateY(-2px);
  }
  
  .botonera-message-2-img img {
    width: 77px;
    margin-bottom: 40px;
    height: 77px;
    border-radius: 50%;
    margin-right: 12px;
  }

  

  
  .botonera-message-2-info p:first-of-type {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    
    color: var(--white);
  }

  .botonera-message-2-info p:first-of-type:hover{
  color: var(--light-green);}
  
  .botonera-message-2-info p:last-of-type {
    font-size: 16px;
    color: var(--white);
    font-size: small;
  }
  

  
  @media screen and (min-width: 600px) {
    .congratsText1 {
      font-size: 3rem;
    }
  }
  