.userInfo {
    display: flex;
    color: blue;
    gap: 80px;
    padding: 20px;
}

.button-signOut {
    text-align: center;
    font-size: 15px;
    font-family: var(--font-family);
    width: 100px;
    height:20px;
    border-radius: 11px;
    border: 1px solid blue;
    color: blue;
    cursor: pointer;
  }