
.Welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
 
}

.welcomeContainer-black {
  background-color: var(--black);
 
}

.welcomeImg {
  max-width: 100%;
}
.img-welcome {
  margin: auto;
  display: block;
}
.img-welcome2 img{
  margin: auto;
  box-shadow: 3%slategrey;
  display: block;
  border-radius: 15px;
}

.welcomeText {
  font-family: var(--font-family);
  color: var(--white);
}

.welcomeText1{
  font-family: var(--font-family);
  color: var(--blue);
  text-align: center;

  font-size: 18pt;
}
.welcomeText2{
  font-size: 18pt;
    min-width: 200px;
  margin: 50px;
}

@media screen and (min-width: 600px) {
  .welcomeText1 {
    font-size: 3rem;
  }
}