.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .welcome__container--black {
  background-color: var(--black);
  }
  
  .welcome__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 50px;
  }
  
  .welcome__img {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .img-welcome-0 {
    padding-top: 200px;
  }
  
  .img-welcome {
  display: block;
  max-width: 100%;
  max-height: 50%;
  height: auto;
  }
  
  .img-welcome2 {
    display: block;
    box-shadow: 0 0 10px 5px slategrey;
    border-radius: 15px;
    width: 300px;
  }
  
  .welcome__text {
  font-family: var(--font-family);
  color: var(--white);
  text-align: center;
  padding-bottom: 30px;
  }
  
  .welcome__text--1 {
  font-family: var(--font-family);
  color: var(--dark-blue-letter);
  text-align: center;
  font-size: 18pt;
  padding-bottom: 50px;
  }

  .welcome__text1__2 {
    padding-bottom: 130px;
  }

  .welcome__text--bold{
    font-weight: 700;
    color: var(--blue);
  }
  
  .welcome__text--2 {
  font-family: var(--font-family);
  color: var(--white);
  text-align: center;
  font-size: 18pt;
  padding-bottom: 50px;
  }
  
  .slider__circles {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .slider__circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .slider__circle-active {
    background-color: var(--blue);
  }

  @media screen and (min-width: 600px) {
  .welcome__text--1 {
  font-size: 3rem;
  }
  }

  .img-welcome-logo {
    height: 150px;
    padding-top: 50px;
  }

  .img-welcome-texto {
    height: 40px;
    padding-bottom: 50px;
  }

  .welcome__container--4 {
    padding-top: 170px;
  }
