@media screen and (max-width: 1024px) {
  .div {
    width: 199px;
    height: 200px;
  }
}


.Container-perfil {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name-perfil {
  margin-top: 12px;
  font-size: medium;
}

.img-div-perfil {
  margin: 12px;

}

.name-perfil {
  color: var(--blue-letter);
}

.div-img-perfil {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.img-perfil {
  width: 133px;
  min-width: 100px;
  margin: auto;
  display: block;
  border-radius: 60%;
  object-fit: cover;
}

.texto-perfil {
  display: flex;
  margin-bottom: 24px;
  color: var(--black);
  margin-top: 86px;
  justify-content: space-between;
  height: 20px;
  width: 200px;
  margin-left: -150px;
}


.button-perfil {
  width: 100%;
  height: 332px;
  display: flex;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  margin-top: 66px;
}

.botonera-perfil {
  font-size: larger;
  height: 98px;
  width: 100%;
  display: flex;
  color: var(--blue-letter);
  display: flex;
  background-color: transparent;
  border: none;
  box-shadow: 0 px rgba(0.20, 0.20, 0.2, 0.2);
  text-align: center;
  padding: 12px;
  /* margin-bottom: 10px; */
  justify-content: space-between;
  align-items: center;
}


.botonera-perfil+.botonera-perfil {
  border-top: 1px solid #ccc;
  margin-top: -1px;

}

.botonera-perfil:last-child {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}



@media screen and (min-width: 600px) {
  .congratsText1 {
    font-size: 3rem;
  }
}