.job-offer{
    min-height: 550px;
    max-height: 400px;
    width: 80%;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

