/*------------------------------------TABLET-------------------------------------*/
@media screen and (max-width: 1024px) {
}
.container-black {
  font-family: var(--font-family);
}

.notifications {
  margin-top: 70px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 80%;
  height: 500px;
  border-radius: 11px;
}

.job-news {
  background-color: var(--white);
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.job-news img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.job-news h1,
.job-news h2,
.job-news h3,
.job-news h4 {
  color: black;
  margin: 10px;
}
.job-news h5 {
  color: var(--grey-normal);
  margin: 10px;
}

/*------------------------------------MOBILE-------------------------------------*/
@media screen and (min-width: 500px) {
}
