@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@300;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  outline: 0;
  border-style: none;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-family);
  
}

:root {
  --black: #0f232e;
  --white: #f6f9fa;
  --blue: #00b3cd;
  --light-blue: #cde7f3;
  --grey-letter: #d2d4d6;
  --blue-letter: #2b81a8;
  --blue-botton: #c0e9fc;
  --grey-dark: #6d7278;
  --grey-normal: #979797;
  --yellow: #ffd71f;
  --light-green: #00ffa1;
  --dark-green: #44af69;
  --font-family: "Montserrat", Amatic, sans-serif;
  --transition: all 200ms ease;
  --dark-blue-letter: #0B4F6E;
  
}

.page {
  width: 100%;
  height: 80vh;
}

.page-negativo {
 background-color: var(--black);
}
.button-black {
  text-align: center;
  font-size: 20px;
  font-family: var(--font-family);
  width: 90%;
  height: 50px;
  border-radius: 11px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

.button-white {
  text-align: center;
  font-size: 20px;
  font-family: var(--font-family);
  width: 90%;
  height: 50px;
  border-radius: 11px;
  background-color: var(--white);
  color: var(--blue-letter);
  cursor: pointer;
}

.button-blue {
  font-size: 20px;
  font-family: var(--font-family);
  width: 90%;
  height: 50px;
  border-radius: 11px;
  background-color:#d8eef7;
  color: var(--blue-letter);
}

html {
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

::-webkit-scrollbar {
  display: none;
}

.Buscador{
  gap: 10px;
  display: flex;
  font-size: 20px;
  font-family: var(--font-family);
  width: 80%;
  height: 38px;
  border-radius: 11px;
  background-color: var(--light-blue);
  color: var(--blue-letter);
  margin-top: 36px;
  align-items: center;
  font-size: 20px;
}

.dentro-buscador{
  background-color: transparent;
  width: 200px;
  height: 20px;
  color: var(--blue-letter);
}

.container-black {
  position: fixed;
  display: block;
  margin-top: 40px;
  width: 100%;
  height: 84vh;
  background: var(--black);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-right-radius: 29px;
  border-top-left-radius: 29px;
  bottom: 0;
}

.backheader {
  display: flex;
  margin-bottom: 24px;
  color: var(--black);
  padding-top: 70px;
  justify-content: space-between;
  height: 20px;
  width: 80%;
  margin-left:  auto;
  margin-right:  auto;
  text-align: center;
}

.backheader-negativo {
  color: var(--white);
}


.botones-principales {
  gap: 26px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 41px;
  color: #8c8c8c;
}



.offers{
  margin-top: 40px;
  color: var(--blue-letter);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 100%;

}

.homeoffers{
  height:480px;
  width: 90%;
  overflow-y: scroll;
  margin-top: 20px;
}

/*------------------------------------TABLET-------------------------------------*/

@media screen and (max-width: 1024px) {
}

/*------------------------------------MOBILE-------------------------------------*/
@media screen and (max-width: 600px) {
}

