

:root {
  --black: #0d202a;
  --white: #f8fafb;
  --blue: #00b3cd;
  --light-blue: #d8eef7;
  --grey-letter: #d2d4d6;
  --blue-letter:#2b81a8;
  --blue-botton:#effaff;
  --grey-dark:#6d7278;
  --grey-normal:#979797;
  --yellow:#ffd71f;
  --light-green:#00ffa1;
  --dark-green:#44af69;




  --font-family: "Montserrat", Amatic, sans-serif;
  --transition: all 200ms ease;



}



.button-black{
  text-align: center;
  font-size: 20px;
  font-family: var(--font-family);
  width: 260px;
  height: 50px;
  border-radius: 11px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

.button-white{
  text-align: center;
  font-size: 20px;
  font-family: var(--font-family);
  width: 260px;
  height: 50px;
  border-radius: 11px;
  background-color: var(--white);
  color: var(--blue-letter);
  cursor: pointer;
}

.button-blue{
  
  font-size: 20px;
  font-family: var(--font-family);
  width: 260px;
  height: 50px;
  border-radius: 11px;
  background-color: var(--blue-botton);
  color: var(--blue-letter);
}




html{
  
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

::-webkit-scrollbar{
  display: none;
}

/*------------------------------------TABLET-------------------------------------*/
@media screen and (max-width: 1024px) {
  
}

/*------------------------------------MOBILE-------------------------------------*/
@media screen and (max-width: 600px){
  
}