
/*------------------------------------TABLET-------------------------------------*/
@media screen and (max-width: 1024px) {

}

/*------------------------------------MOBILE-------------------------------------*/
@media screen and (max-width: 600px){
  .div{
   
  }
}