
/*------------------------------------TABLET-------------------------------------*/
@media screen and (max-width: 1024px) {

}
.homecontainer{
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);

}

.homehead{
    display: flex;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;

}

.hometitle{
    height: 60px;
}

.homeimg{
    height: 45px;
    width: 45px;
    border-radius: 100px;
    object-fit: cover;
}

.homenav{
    min-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homesearch{
    padding-left: 20px;
    font-size: 15px;
    font-family: var(--font-family);
    min-width: 60%;
    height: 35px;
    border-radius: 6px;
    background-color: var(--light-blue);

}

.chat{
    height: 30px;
    width: 30px;
    color: var(--blue-letter)
}

.offers{
    margin-top: 40px;
    color: var(--blue-letter);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%



}

.homeoffers{
    height: 500px;
    width: 90%;
    overflow-y: scroll;
}
/*------------------------------------MOBILE-------------------------------------*/
@media screen and (min-width: 500px){
 
  
}